* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
p {
    margin: 0;
}
.container {
    margin: 0 auto;
    padding: 0 100px;
}
.header__wrap {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.title {
    font-size: 50px;
    line-height: 59px;
    color: #FFE81F;
    text-transform: uppercase;

}
.link {
    font-size: 22px;
    line-height: 26px;
    color: white;
}
.content__wrap {
    height: 470px;
    background-color: #F0F5F7;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    margin-bottom: 70px;
    width: 100%;
    display: flex;
}
input {
    flex: 8;
    /* width: 540px; */
    height: 46px;
    border-radius: 10px;
    border: none;

}
button {
    width: 107px;
    height: 46px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.footer__wrap {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.author {
    font-size: 22px;
    line-height: 26px;
    color: white;
}
.inform {
    background-color: #EEEFF1;
    padding: 20px;
    display: none;
}
.inform--after {

    display: block;
}
.item {
    margin-bottom: 10px;
}
.name {
    font-size: 30px;
}
.eyes {
    display: inline-block;
    height: 20px;
    width: 20px;
}
@media (max-width: 992px) {

    .container {
        padding: 30px 20px;
    }
    .title {
        font-size: 30px;
    }
    .link, .author {
        font-size: 16px;
    }
    input {
        width: 100%;
        margin-bottom: 20px; 
        flex: none;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .name {
        font-size: 20px;
    }
    
}